# Base de datos
MONGODB_URI=mongodb+srv://olgalopez23e:olgalopez23e@cluster0.coq5wgj.mongodb.net/pokemonpru?retryWrites=true&w=majority&appName=Cluster0
# O si usas MongoDB Atlas:
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/pokemon-app

# JWT
JWT_SECRET=tu_jwt_secret_muy_seguro_aqui_cambiar_en_produccion
JWT_EXPIRE=7d

# Express
PORT=5000
NODE_ENV=development

# CORS
CORS_ORIGIN=http://localhost:5173

# PokeAPI
POKEAPI_URL=https://pokeapi.co
#https://pokeapi.co/api/v2/
